/* Saker som förmodligen ska gälla för allt*/

body {
    background-color: #E3E2DF;
    color: black;
    margin: 0px 0px 0px 0px;
    font-family: Verdana,sans-serif;

}

html {
    scroll-behavior: smooth;

}

.wrapper {

}

.header {
    padding-right: 1%;
    padding-left: 0px;
    margin: auto;
    display: grid;
    background-color: #5D001E;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.logga {
    display: grid;
    height: 100px;
    grid-column: 1;
}

button:hover {
    background-color: #E3AFBC;
    color: black;
}

.knapp {
    text-decoration: none;
    color: #F7F9FB;
    padding: 10px 30px 10px 30px;
}

.knapp:hover{
    color:black;
}

.header-knapp {
    padding: 0px;
    display: grid;
    grid-column: 7;
    grid-row: 1;
    font-size: auto;
    color: #F7F9FB;
    background-color: #EE4C7C;
    border-radius: 5px;
    border-style: none;
    margin-top: 32px;
    margin-bottom: 32px;
    text-decoration: none;
}

.nav {
    background-color: #9A1750;

}

nav ul {
    gap: auto;
    display: grid;
    margin: 0px;
    padding: 0px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}

nav ul a:hover {
    background-color: #E3AFBC;
    color: black

}


.nav-list {
    color:#F7F9FB;
    grid-column: auto;
    padding:20px 15px 20px 15px;
    margin: 0px;
    font-size: 17px;
    grid-column: auto;
    list-style: none;
    text-decoration: none;
    display: inline;
    text-align: center;

}

/*--------------------för mobile--------------------*/
@media only screen and (max-width: 768px) {
    .logga{
        height: 80px;
        margin-top: 10px;
    }

    .header-knapp{
        margin-right: 20px;
    }


}


/* Home page specifika saker (classer börjar med "home") */

.home-body {
    background-image: url("./images/Background.jpg");
    background-position: center top;
}

.home-main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.home-text-div {
    padding-top: 200px;
    grid-column: 1;
    margin-left: 50px;

}

.home-rubrik {
    color: #F7F9FB;

}

.home-slogan {
    font-size: 50px;
    color: #F7F9FB;


}

.home-knapp {
    background-color: #EE4C7C;
    color: #F7F9FB;
    border-radius: 5px;
    border-style: none;
    padding: 10px 30px 10px 30px;
}

/*--------------------för mobile--------------------*/
@media only screen and (max-width: 768px) {
    .home-slogan{
        font-size: 40px;
    }
}


/* About page specifika saker (classer börjar med "Om oss") */
.om_oss-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}

.om_oss-rubrik {

}

.om_oss-text {


}

.om_oss-bild {

    grid-column: auto;
    border-radius: 20px;
    height: 300px;
    width: 400px;

}

.om_oss-textruta {
    grid-column: 2;
    font-size: 20px;
    color:#F7F9FB;
}

.om_oss-bildtext {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    grid-column: 1/4;
    display: grid;
    grid-row: auto;
    background-color:#5D001E;
    margin:30px;
    border-radius: 20px;



}

/*--------------------för mobile--------------------*/
@media only screen and (max-width: 768px) {
    .om_oss-bild{
        grid-column: 1/4;
    }

    .om_oss-textruta{
        grid-column: 1/4;
        text-align: center;

    }

    .om_oss-main{
        padding:50px;
        margin-top: 0px;
    }

}


/* Contact page specifika saker (classer börjar med "contact") */

.contact-main {
    margin:0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.contact-anstälda {
    grid-column: 1/6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 20px;

}

.contact-column {
    grid-column: auto;
    text-align: center;
    color: #F7F9FB;
    background-color: #5D001E;
    margin:20px 0px 0px 0px;
    padding: 10px;
    border-radius: 10px;


}

.contact-bilder {
    height: 100px;
    border-radius: 50%;
}

.contact-h3 {
    font-size: 24px;
    text-align: center;
    margin: 5px 0px;
}

.contact-jobb {
    background-color:  #5D001E;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 25px;
    grid-column: 1/6;
}

.contact-kund {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;

}

.contact-contact {
    grid-column: 1/6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0% 5%;

}

.contact-adress {
    grid-column: 1;
    background-color: #5D001E;
    color: #F7F9FB;
    border-radius: 10px;
    padding: 20px;
    height: 270px;
}


.kontakt-location {
    text-decoration: none;
    color: #EE4C7C;

}

.contact-ressension {
    color:white;

}

.contact-uppgift {
    grid-column: 3;
    display: grid;
    padding: 10px;
    margin: 0;
    border-radius: 10px;
    background-color: #5D001E;
    color:white;


}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color:black;

}


input[type=submit] {
    width: 100px;
    color: #F7F9FB;
    background-color: #EE4C7C;
    padding: 14px 20px;
    margin: 10px ;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

input[type=submit] :hover {

}

.form-knapp {
    text-align: center;
}


/*--------------------för mobile--------------------*/
@media only screen and (max-width: 768px) {

    .contact-anstälda {
        grid-template-columns: 1fr;
        padding: 0% 25%;
    }

    .contact-jobb {
        grid-template-columns: 1fr;
    }

    .contact-contact {
        grid-template-columns: 1fr;
    }

    .contact-uppgift {
        grid-column: 1;
        margin-top: 20px;
    }
}



/* innehallD page specifika saker (classer börjar med "innehallD")(eller något smartare) */


.varaprojektD-main {
    background-image: url(/images/Stylishmechanic.jfif);
    height: 20cm;

    }
    .rubrikD {
        display: grid;
        grid-template-columns: auto;
        text-align: center;
    }
    .varaprojektD-main {
        display:grid;
        grid-template-columns: auto auto;
        color: white
    }

    /*--------------------för mobile--------------------*/
@media only screen and (max-width: 768px) {

}

    /* ThingsJ page specifika saker (classer börjar med "thingsJ")(eller något smartare) */
    .innehallJ
    {
      background-image: url("./images/bakgrund-3b.png");
    }

    .innehallJ-main p
    {
        margin-block-start: 0;
        border: 0;
        padding: 0 5px 0 5px;
    }
    .innehallJ-main h3
    {
        margin-block-end: 0;
    }

    .innehallJ-main
    {

        display:grid;
        grid-template-columns: minmax(5px,100px) 1fr 0px 1fr minmax(5px,100px);
        gap: 10px;

    }

    .innehallJ-main article{
        background-color: #9A1750;
        border-radius: 10px;
        padding: 15px 25px;
        color: #F7F9FB;
    }

    .innehallJ-main h2
    {
        grid-column: 2/7;
        grid-row: 1;
        background-color: #9A1750;
        border-radius: 10px;
        padding: 15px 25px;
        color: #F7F9FB;
    }

    .section_ThingsJ img
    {
    float: right;
    shape-outside: circle();
    border-width: 4px;
    margin-left: 1em;
    margin-bottom: 0.5em;
    padding: 0.1em 0.1em 0.1em 0.1em;
    }

    #valvo
    {
        grid-column: 2/3;
        grid-row: auto;
    }
    #aseba
    {
        grid-column: 4/5;
        grid-row: auto;
    }
    #upple
    {
        grid-column: 2/3;
        grid-row: auto;
    }
    #makrosoft
    {
        grid-column: 4/5;
        grid-row: auto;
    }
    #hasses_grill
    {
        grid-column: 2/3;
        grid-row: auto;
    }

    /*--------------------för mobile--------------------*/
@media only screen and (max-width: 768px) {
    .innehallJ-main section
    {
        margin: 1em;
    }
    .innehallJ-main h2
    {
        margin: 1em;
        grid-column: auto;
        grid-row: 1;
    }
    .innehallJ-main h3
    {
        margin: 1em;
    }
    .innehallJ-main article{
        margin: 10px 5%;
    }
    .innehallJ-main
    {
        display:grid;
        grid-template-columns: auto;
        gap: 10px;
    }
    #valvo
    {
        grid-column: auto;
        grid-row: auto;
    }
    #aseba
    {
        grid-column: auto;
        grid-row: auto;
    }
    #upple
    {
        grid-column: auto;
        grid-row: auto;
    }
    #makrosoft
    {
        grid-column: auto;
        grid-row: auto;
    }
    #hasses_grill
    {
        grid-column: auto;
        grid-row: auto;
    }
}
